body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Main container for the header */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

/* Style the logo and app name section */
.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-logo span {
  color: white;
  font-size: 24px;
}

/* Style the links in the navbar */
.navbar-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  padding: 8px 16px; /* Add some padding to the links */
  border-radius: 4px; /* Add rounded corners to the links */
  transition: background-color 0.3s; /* Add a smooth transition for the background color */
}
.navbar-links a:hover {
  background-color: #555; /* Change the background color on hover */
}

/* Style the "Cerrar Sesion" button */
.navbar-links button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.navbar-links button:hover {
  background-color: #ddd;
}

/* Style the search bar and filter section */
.navbar-controls {
  display: flex;
  align-items: center;
}
